---
page: tarifs
---

<h1>Tarifs</h1>

<h2>Pré</h2>
<table>
  <tr>
    <td width="90%">Herbe ( Mai à Septembre )</td>
    <td>175 €</td>
  </tr>
  <tr>
    <td>Herbe + 1 repas / jour ( Mai à Septembre )</td>
    <td>210 €</td>
  </tr>
  <tr>
    <td>Herbe + 2 repas / jour ( Mai à Septembre )</td>
    <td>235 €</td>
  </tr>
  <tr>
    <td>Herbe + Foin ( Octobre à Avril )</td>
    <td>245 €</td>
  </tr>
</table>

<h2>Boxe</h2>
<table>
  <tr>
    <td width="90%">Foin</td>
    <td>290 €</td>
  </tr>
  <tr>
    <td>Foin + grains / granulés + compléments vitaminés</td>
    <td>305 €</td>
  </tr>
  <tr>
    <td>Alimentation enrichie (remise en état, cheval de sport...)<br />foin + floconnés + granulés / grains + vitamines</td>
    <td>350 €</td>
  </tr>
  <tr>
    <td>Option litière en copeaux ( facturée en sus )</td>
    <td>90 €</td>
  </tr>
</table>

<h2>Poulinière</h2>
<table>
  <tr>
    <td width="90%">Herbe ( suitée )</td>
    <td>255 €</td>
  </tr>
  <tr>
    <td>En boxe ( fin de gestation )</td>
    <td>340 €</td>
  </tr>

  <tr>
    <td>En boxe ( suitée )</td>
    <td>370 €</td>
  </tr>
</table>

<h2>Soins particuliers</h2>
<table>
  <tr>
    <td width="90%">Pansage (1 fois par semaine )</td>
    <td>60 €</td>
  </tr>
  <tr>
    <td>Graissage des pieds ( 2 fois par semaine )</td>
    <td>50€ </td>
  </tr>

  <tr>
    <td>Cheval entier ( Clôture spécifique, pré individuel )</td>
    <td>90 €</td>
  </tr>
</table>

<p><center>Ces prix sont mensuels et TTC ( TVA 20% )</center></p>
<p>Ce tarif n'expose que quelques possibilités. Pour toute autre solution avec des soins spécifiques, convalescence,  remise en état...</p>

<p style="text-align: center;font-weight: bold"><a href="/contact">... CONTACTEZ NOUS</a></p>

