---
page: tarifs
---

<h1>Tarifs</h1>

<h2>Pré</h2>
<table>
  <tr>
    <td width="90%">Herbe ( Mai à Septembre )</td>
    <td>140 &euro;</td>
  </tr>
  <tr>
    <td>Herbe + 1 repas / jour ( Mai à Septembre )</td>
    <td>170 &euro;</td>
  </tr>
  <tr>
    <td>Herbe + 2 repas / jour ( Mai à Septembre )</td>
    <td>190 &euro;</td>
  </tr>
  <tr>
    <td>Herbe + Foin ( Octobre à Avril )</td>
    <td>200 &euro;</td>
  </tr>
</table>

<h2>Boxe</h2>
<table>
  <tr>
    <td width="90%">Foin</td>
    <td>230 &euro;</td>
  </tr>
  <tr>
    <td>Foin + grains / granulés + compléments vitaminés</td>
    <td>250 &euro;</td>
  </tr>
  <tr>
    <td>Alimentation enrichie (remise en état, cheval de sport...)<br />foin + floconnés + granulés / grains + vitamines</td>
    <td>290 &euro;</td>
  </tr>
  <tr>
    <td>Option litière en copeaux ( facturée en sus )</td>
    <td>70 &euro;</td>
  </tr>
</table>

<h2>Poulinière</h2>
<table>
  <tr>
    <td width="90%">Herbe ( suitée )</td>
    <td>210 &euro;</td>
  </tr>
  <tr>
    <td>En boxe ( fin de gestation )</td>
    <td>280 &euro;</td>
  </tr>

  <tr>
    <td>En boxe ( suitée )</td>
    <td>300 &euro;</td>
  </tr>
</table>

<h2>Soins particuliers</h2>
<table>
  <tr>
    <td width="90%">Pansage (1 fois par semaine )</td>
    <td>40 &euro;</td>
  </tr>
  <tr>
    <td>Graissage des pieds ( 2 fois par semaine )</td>
    <td>30 &euro;</td>
  </tr>

  <tr>
    <td>Cheval entier ( Clôture spécifique, pré individuel )</td>
    <td>60 &euro;</td>
  </tr>
</table>

<p><center>Ces prix sont mensuels et TTC</center></p>
<p>Ce tarif n'expose que quelques possibilités. Pour toute autre solution avec des soins spécifiques, convalescence,  remise en état, poulinage...</p>

<p style="text-align: center;font-weight: bold"><a href="/contact">Nous contacter</a></p>

